@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Błąd</title>
</head>
<body>
    <h2 class="text-danger">Błąd</h2>
    <h3 class="text-danger">Podczas przetwarzania żądania wystąpił błąd.</h3>
</body>
</html>
