<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">Word List</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="Words" class="btn btn-info form-control text-white">
            Add New Word
        </a>
    </div>
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <div><tr>
                    <th>Polish Word</th>
                    <th>French Word</th>
                    <th>Lesson</th>
                    <th></th>
                </tr></div>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/wordList.js"></script>
}