
@model MyDictionary.Models.Word

<br />
<h2 class="text-info">@(Model.Id != 0 ? "Edit" : "Create") Word</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
        }
        <div class="text-dnager" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="PolishWord"></label>
            </div>
            <div class="col-6">
                <input asp-for="PolishWord" class="form-control" />
                <span asp-validation-for="PolishWord" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="FrenchWord"></label>
            </div>
            <div class="col-6">
                <input asp-for="FrenchWord" id="frenchWord" class="form-control" />
                <span asp-validation-for="FrenchWord" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Lesson"></label>
            </div>
            <div class="col-6">
                <input asp-for="Lesson" class="form-control" />
                <span asp-validation-for="Lesson" class="text-danger"></span>
            </div>
        </div>
        <div>
            @Html.Partial("DiacreticSignsKeyboard")
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    @(Model.Id != 0 ? "Update" : "Create")
                </button>
            </div>
            <div class="col-3">
                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

<script>
    function putLetterInTempInputFrenchWord(clickedLetter) {
        if (clickedLetter != null) {
            document.getElementById("frenchWord").value += clickedLetter;
        }
    }
</script>
