
<div class="form-group row ml-0">
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#192')" class="btn btn-dark m-1">&#192</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#194')" class="btn btn-dark m-1">&#194</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#199')" class="btn btn-dark m-1">&#199</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#200')" class="btn btn-dark m-1">&#200</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#201')" class="btn btn-dark m-1">&#201</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#202')" class="btn btn-dark m-1">&#202</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#203')" class="btn btn-dark m-1">&#203</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#206')" class="btn btn-dark m-1">&#206</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#207')" class="btn btn-dark m-1">&#207</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#212')" class="btn btn-dark m-1">&#212</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#217')" class="btn btn-dark m-1">&#217</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#219')" class="btn btn-dark m-1">&#219</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#220')" class="btn btn-dark m-1">&#220</button>
</div>
<div class="form-group row ml-0">
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#224')" class="btn btn-dark m-1">&#224</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#226')" class="btn btn-dark m-1">&#226</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#231')" class="btn btn-dark m-1">&#231</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#232')" class="btn btn-dark m-1">&#232</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#233')" class="btn btn-dark m-1">&#233</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#234')" class="btn btn-dark m-1">&#234</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#235')" class="btn btn-dark m-1">&#235</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#238')" class="btn btn-dark m-1">&#238</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#239')" class="btn btn-dark m-1">&#239</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#244')" class="btn btn-dark m-1">&#244</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#249')" class="btn btn-dark m-1">&#249</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#251')" class="btn btn-dark m-1">&#251</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#252')" class="btn btn-dark m-1">&#252</button>
    <button type="button" onclick="putLetterInTempInputFrenchWord('&#255')" class="btn btn-dark m-1">&#255</button>
</div>

