@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <br/>
    <p>You can create yourn own dictionary here:</p>
    <p>- use Word List tab to manage words and lessons in your dictionary</p>
    <p>- use Exercise tab to check your skils</p>

</div>
